<%= form_with(model: customer_testimony, local: true) do |form| %>
  <% if customer_testimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_testimony.errors.count, "error") %> prohibited this customer_testimony from being saved:</h2>

      <ul>
        <% customer_testimony.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :testimony_logo %>
    <%= form.text_field :testimony_logo %>
  </div>

  <div class="field">
    <%= form.label :testimony_detail %>
    <%= form.text_field :testimony_detail %>
  </div>

  <div class="field">
    <%= form.label :testimony_cust_img %>
    <%= form.text_field :testimony_cust_img %>
  </div>

  <div class="field">
    <%= form.label :testimony_cust_name %>
    <%= form.text_field :testimony_cust_name %>
  </div>

  <div class="field">
    <%= form.label :testimony_cust_title %>
    <%= form.text_field :testimony_cust_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
