<p id="notice"><%= notice %></p>

<p>
  <strong>Testimony logo:</strong>
  <%= @customer_testimony.testimony_logo %>
</p>

<p>
  <strong>Testimony detail:</strong>
  <%= @customer_testimony.testimony_detail %>
</p>

<p>
  <strong>Testimony cust img:</strong>
  <%= @customer_testimony.testimony_cust_img %>
</p>

<p>
  <strong>Testimony cust name:</strong>
  <%= @customer_testimony.testimony_cust_name %>
</p>

<p>
  <strong>Testimony cust title:</strong>
  <%= @customer_testimony.testimony_cust_title %>
</p>

<%= link_to 'Edit', edit_customer_testimony_path(@customer_testimony) %> |
<%= link_to 'Back', customer_testimonies_path %>
