<p id="notice"><%= notice %></p>

<h1>Service Packages</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Title</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_packages.each do |service_package| %>
      <tr>
        <td><%= service_package.logo %></td>
        <td><%= service_package.title %></td>
        <td><%= service_package.detail %></td>
        <td><%= link_to 'Show', service_package %></td>
        <td><%= link_to 'Edit', edit_service_package_path(service_package) %></td>
        <td><%= link_to 'Destroy', service_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Package', new_service_package_path %>
