<%= form_with(model: recent_article, local: true) do |form| %>
  <% if recent_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recent_article.errors.count, "error") %> prohibited this recent_article from being saved:</h2>

      <ul>
        <% recent_article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :article_img %>
    <%= form.text_field :article_img %>
  </div>

  <div class="field">
    <%= form.label :publication_date %>
    <%= form.text_field :publication_date %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
