<p id="notice"><%= notice %></p>

<p>
  <strong>Article img:</strong>
  <%= @recent_article.article_img %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @recent_article.publication_date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @recent_article.publisher %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recent_article.title %>
</p>

<%= link_to 'Edit', edit_recent_article_path(@recent_article) %> |
<%= link_to 'Back', recent_articles_path %>
