<%= form_with(model: landingpage_item, local: true) do |form| %>
  <% if landingpage_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landingpage_item.errors.count, "error") %> prohibited this landingpage_item from being saved:</h2>

      <ul>
        <% landingpage_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
