<p id="notice"><%= notice %></p>

<h1>Landingpage Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landingpage_items.each do |landingpage_item| %>
      <tr>
        <td><%= landingpage_item.name %></td>
        <td><%= landingpage_item.description %></td>
        <td><%= landingpage_item.price %></td>
        <td><%= landingpage_item.rating %></td>
        <td><%= link_to 'Show', landingpage_item %></td>
        <td><%= link_to 'Edit', edit_landingpage_item_path(landingpage_item) %></td>
        <td><%= link_to 'Destroy', landingpage_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landingpage Item', new_landingpage_item_path %>
