<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landingpage_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @landingpage_item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @landingpage_item.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @landingpage_item.rating %>
</p>

<%= link_to 'Edit', edit_landingpage_item_path(@landingpage_item) %> |
<%= link_to 'Back', landingpage_items_path %>
